<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="bg-light w-100" style="min-width: 576px;">
        <%- include('../partials/navbar.ejs') %>
            <div class="row mt-5 ">
                <%- include('../partials/sidebar.ejs') %>

                    <div class="col min-vh-100 pt-4">
                        <div class="d-flex justify-content-between align-items-center px-4">
                            <div class="fw-bold fs-3 text-primary">
                                Stock inventory Management
                            </div>
                            <div>
                                Dashboard <a href="" class="text-decoration-none">> home</a>
                            </div>
                        </div>
                        <div class="d-sm-flex d-block justify-content-between pt-5 px-5">
                            <div class="row p-3 my-4 my-sm-0 bg-white overflow-hidden" style="border-radius: 20px;">
                                <div class="col py-3 px-4 bg-default-blue d-flex justify-content-center align-items-center"
                                    style="border-radius: 20px;">
                                    <img src="/img/Sell Stock.png" width="80px" alt="">
                                </div>
                                <div class="col d-flex justify-content-center align-items-center flex-column p-4  ">
                                    <div class="fw-bold fs-3">
                                        <%- totalinventory %>
                                    </div>
                                    <div class="mt-2">
                                        inventory
                                    </div>
                                </div>
                            </div>
                            <div class="row p-3 my-4 my-sm-0 bg-white overflow-hidden" style="border-radius: 20px;">
                                <div class="col py-3 px-4 bg-default-blue d-flex justify-content-center align-items-center"
                                    style="border-radius: 20px;">
                                    <img src="/img/Users.png" width="80px" alt="">
                                </div>
                                <div class="col d-flex justify-content-center align-items-center flex-column p-4 ">
                                    <div class="fw-bold fs-3">
                                        <%- totalcustomers %>
                                    </div>
                                    <div class="mt-2">
                                        customer
                                    </div>
                                </div>
                            </div>
                            <div class="row p-3 my-4 my-sm-0 bg-white overflow-hidden" style="border-radius: 20px;">
                                <div class="col py-3 px-4 bg-default-blue d-flex justify-content-center align-items-center"
                                    style="border-radius: 20px;">
                                    <img src="/img/Coins.png" width="80px" alt="">
                                </div>
                                <div class="col d-flex justify-content-center align-items-center flex-column p-4 ">
                                    <div class="fw-bold fs-3">
                                        <%- totalsales %>
                                    </div>
                                    <div class="mt-2">
                                        sales
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="bg-white mt-5 px-4 mx-4 rounded-3 py-3">
                            <div class="d-flex justify-content-between"> 
                                <div class="fs-4 text-primary fw-bold">
                                    Recent Orders
                                </div>
                                <ul class="d-flex justify-content-around w-50 align-items-center"
                                    style="list-style: none;">
                                    <li class=" bg-light rounded-pill py-1 w-50 row p"><input type="text" name="" id="search"
                                            class="outline-none ps-3   border-none col-8 rounded-pill bg-light" id="">
                                        <div class="col-4 flex-column justify-content-center align-items-center d-flex">
                                            <img src="/img/Search.png" alt="">
                                        </div>
                                    </li>
                                    <li class="px-sm-4 pointer text-end dropdown">
                                        <img width="30px" src="/img/Filter.png"  alt="" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="dropdown-item"><label for="customer-name">customer name</label></a></li>
                                            <li><a href="#" class="dropdown-item"><label for="item-purchased">item purchased</label></a></li>
                                            <li><a href="#" class="dropdown-item"><label for="purchased">purchased</label></a></li>
                                            <li><a href="" class="dropdown-item"><label for="revenue">total revenue</label></a></li>
                                            <li><a href="#" class="dropdown-item"><label for="phone">customer phone</label></a></li>
                                        </ul>
                                    </li>
                                    <li class="px-sm-4 pointer text-end " data-bs-toggle="modal"
                                        data-bs-target="#addInvent"><img src="/img/Add.png" width="30px" alt=""></li>
                                    <li class="px-sm-4 pointer text-end"><img src="/img/Full screen.png" width="30px"
                                            alt=""></li>
                                </ul>
                            </div>
                            <div class="" style="overflow-x: auto;">
                                <table class="table-striped w-100 my-4">
                                    <thead>
                                        <tr class="text-primary">
                                            <th class="px-2">customer name</th>
                                            <th class="px-2 text-center">item purchased</th>
                                            <th class="px-2 text-center">order ID</th>
                                            <th class="px-2 text-center">purchased</th>
                                            <th class="px-2 text-center">Total revenue (#)</th>
                                            <th class="px-2 text-center">Print reciept</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div style="max-height: 50px !important; display: block;background-color: red;">

                                        <% sales.forEach((sale,index)=>{%>
                                            <tr class="<%- index % 2 != 0 ? 'bg-default-blue':'' %>">
                                                <td class="py-4 px-2"><a
                                                        href="/api/customers/orders/<%- sale.Customer.customer_id %>"
                                                        class="text-decoration-none"><%- sale.Customer.first_name %> <%-
                                                                sale.Customer.last_name %> </a></td>
                                                <td class="py-4 px-2 text-center">
                                                    <% let myphonees=phones.find(id=> id.phone_id ==
                                                        sale.allitems[0].brand) %> <%- myphonees?.brand %> <%-
                                                                sale.allitems[0].model %> <%- sale.allitems[0].part %>
                                                                    ...
                                                </td>
                                                <td class="py-4 px-2 text-center">ORD-<%- sale.sale_id %></td>
                                                <td class="py-4 px-2 text-center"><%- sales.createdAt %></td>
                                                <td class="py-4 px-2 text-center">5,000</td>
                                                <!-- <td class="py-4 px-2"><a href="" class="text-decoration-none">view</a></td> -->
                                                <td class="py-4 px-2 text-center"><a
                                                        href="/api/customers/myorders/<%- sale.sale_id %>"
                                                        class="btn btn-sm btn-primary">print</a></td>
                                            </tr>
                                            <%})%>
                                        </div>

                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <div class="modal w-100 " id="addInvent">
                            <div class="modal-dialog modal-lg  modal-dialog-centered">
                                <div class="bg-white  container-fluid  p-sm-4 modal-content"
                                    style="border-radius: 20px;">
                                    <div class=" text-center fw-bold fs-3 py-3">
                                        Add Orders
                                    </div>
                                    <div class="">
                                        <form action="" name="invent_ory">
                                            <div class="fw-bold">
                                                customer's Fullname
                                            </div>
                                            <div>

                                                <select class="form-select" name="customersname"
                                                    aria-label="Default select example">
                                                    <option selected disabled>Select</option>
                                                    <% customers?.forEach((customer)=>{%>
                                                        <option value="<%- customer.customer_id %>"><%-
                                                                customer.first_name %>
                                                                <%- customer.last_name %></option>
                                                        <%})%>
                                                </select>
                                            </div>
                                            <div class="d-flex fw-bold justify-content-between my-4">
                                                <div>
                                                    item(s) Purchased
                                                </div>
                                                <div class="addItems pointer">
                                                    <img src="/img/Add.png" alt="">
                                                </div>
                                            </div>
                                            <div class="items">

                                            </div>
                                            <div class="row my-5 ">
                                                <div class="col">
                                                    <div class="fw-bold ">Status</div>
                                                    <div><select name="status" class="form-select w-100" id="">
                                                            <option value="">select</option>
                                                            <option value="pending">pending</option>
                                                            <option value="progress">progress</option>
                                                            <option value="delivered">delivered</option>

                                                        </select></div>
                                                </div>
                                                <div class="col ">
                                                    <div class="fw-bold">Total revenue (#)</div>
                                                    <div class=""><input type="text"
                                                        name="revenue"
                                                            class="form-input w-100 py-1 revenue">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="text-center px-5">
                                                <button class="btn btn-primary w-75 ">Add Order</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="" name="filter" class="d-none">
                        <input type="radio" name="filtertype" id="customer-name" value="first_name">
                        <input type="radio" name="filtertype" id="item-purchased" value="item">
                        <input type="radio" name="filtertype" id="order-id" value="createdAt">
                        <input type="radio" name="filtertype" id="revenue" value="revenue">
                        <input type="radio" name="filtertype" id="phone" value="phone_number">
                    </form>
            </div>
    </div>
    <script>
        const myphones = <%- JSON.stringify(phones) %>
        const sales = <%- JSON.stringify(sales) %>

            console.log(sales);

        console.log(myphones);
        const addItem = document.querySelector('.addItems');

        addItem.onclick = () => {
            console.log('hi');
            console.log(document.querySelectorAll('.removeitem'));

            addItems()
        }


        let itemIdCounter = 0; // A counter to give unique IDs to each item

        // Function to add a new item row
        function addItems(x) {
            const itemsContainer = document.querySelector(".items");
            const newOrderRow = document.createElement("div");
            newOrderRow.classList.add("row", "orders", "mb-3");

            if (!x) {
                newOrderRow.innerHTML = `
           <div class="col-2"><select name="" class="form-select w-100 brand" id=""><option value="">Brand</option>${myphones.map(phone => `<option value="${phone.phone_id}">${phone.brand}</option>`).join("")}</select></div>
        <div class="col-2"><select name="" id="" class="form-select model"><option value="">Model</option></select></div>
        <div class="col-2"><select name="" id="" class="form-select part"><option value="">Part</option></select></div>
        <div class="col-2"><input placeholder="qty (#)" type="number" class="form-input w-100 rounded-3 qty" style="min-height: 100%; min-width: 100%;"></div>
        <div class="col-2"><input placeholder="price (#)"  type="number" class="form-input w-100 rounded-3 price" style="min-height: 100%; min-width: 100%;"></div>
        <input type="hidden" class="selling_price">
        <div class="col-2"><a href="#" class="btn btn-danger removeitem" >-</a></div>
        `;
            } else {
                newOrderRow.innerHTML = `
           <div class="col-2"><select name="" class="form-select w-100 brand" id=""><option value="">Brand</option>${myphones.map(phone => `<option value="${phone.phone_id}">${phone.brand}</option>`).join("")}</select></div>
        <div class="col-2"><select name="" id="" class="form-select model"><option value="">Model</option></select></div>
        <div class="col-2"><select name="" id="" class="form-select part"><option value="">Part</option></select></div>
        <div class="col-2"><input placeholder="qty (#)" type="number" class="form-input w-100 rounded-3 qty" style="min-height: 100%; min-width: 100%;"></div>
        <div class="col-3"><input placeholder="price (#)" type="number" class="form-input w-100 rounded-3 price" style="min-height: 100%; min-width: 100%;"></div>
                <input type="hidden" class="selling_price">

        `;
            }

            itemsContainer.appendChild(newOrderRow);

            // Attach event listeners for dropdowns
            const brandSelect = newOrderRow.querySelector(".brand");
            const modelSelect = newOrderRow.querySelector(".model");
            const partSelect = newOrderRow.querySelector(".part");
            const price = newOrderRow.querySelector('.price');
            const selling_price = newOrderRow.querySelector('.selling_price')

            brandSelect.addEventListener("change", () => {
                console.log('change');
                return populateModels(brandSelect, modelSelect)
            });
            modelSelect.addEventListener("change", () => populateParts(brandSelect, modelSelect, partSelect));

            partSelect.addEventListener('change', () => populatePrice(brandSelect, modelSelect, partSelect, price, selling_price

            ))

            price.addEventListener('change', () => revenue(price));

            price.addEventListener('input', () => revenue(price))
            // Remove the row
            if (!x) {
                newOrderRow.querySelector(".removeitem").addEventListener("click", () => {
                    newOrderRow.remove();
                    revenue()

                });
            }
        }

        addItems('noremove')

        // Function to remove an item row
        function removeItem(itemId) {
            let item = document.getElementById(itemId);
            if (item) {
                item.remove();
            }
        }

        function revenue(x) {
            console.log('heloo');
            let price = 0
            document.querySelectorAll('.price').forEach((prices) => {
                price = Number(price) + Number(prices.value)
            })

            document.querySelector('.revenue').value = price

        }

        function populateModels(brandSelect, modelSelect) {
            const selectedBrandId = brandSelect.value;

            // Clear previous models
            modelSelect.innerHTML = '<option value="" disabled selected>Model</option>';

            // Find the selected brand and populate models
            const brandData = myphones.find(phone => phone.phone_id == selectedBrandId);
            console.log(selectedBrandId);

            if (brandData && brandData.phoneModels) {
                brandData.phoneModels.forEach(model => {
                    modelSelect.innerHTML += `<option value="${model.name}">${model.name}</option>`;
                });
            }
        }

        function populateParts(brandSelect, modelSelect, partSelect) {
            const selectedBrandId = brandSelect.value;
            const selectedModelName = modelSelect.value;

            // Clear previous parts
            partSelect.innerHTML = '<option value="" disabled selected>Part</option>';

            // Find the selected brand and model to populate parts
            const brandData = myphones.find(phone => phone.phone_id == selectedBrandId);
            if (brandData && brandData.phoneModels) {
                const modelData = brandData.phoneModels.filter(name => name.name == selectedModelName).forEach((mode) => {
                    partSelect.innerHTML += `<option value="${mode.parts}%>">${mode.parts} ${mode.id} </option>`

                })
            }
        }

        function populatePrice(brandSelect, modelSelect, partSelect, priceselect, selling_price) {
            const selectedBrandId = brandSelect.value;
            const selectedModelName = modelSelect.value;
            const selectedpart = partSelect.value
            // Clear previous parts
            priceselect.value = "";

            console.log(priceselect);

            // Find the selected brand and model to populate parts
            const brandData = myphones.find(phone => phone.phone_id == selectedBrandId);
            if (brandData && brandData.phoneModels) {
                const modelData = brandData.phoneModels.filter(name => name.name == selectedModelName).forEach((mode) => {
                    console.log(mode);

                    if (mode.parts == selectedpart) {
                        priceselect.value = `${mode.selling_price}`
                        selling_price.value = `${mode.selling_price}`

                        revenue()
                    }
                })
            }

        }

    </script>
    <%- include('../partials/footer.ejs') %>

    <script src="/main.js" type="module">

    </script>

</body>

</html>